<div class="wrapper">
  <div class="home-slogan">
    Get a live feed of what <br>
    everyone's saying around you.
  </div>
<div class="container">
<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="user[username]" value="user<%= rand(10) %>" placeholder="Username">
  <input type="password" name="user[password]" value="password" placeholder="Password">
  <button type="submit" id="login-button">Login</button>
</form>
</div>

<ul class="bg-bubbles">
  <li><img src="http://res.cloudinary.com/daqsrembo/image/upload/c_scale,w_45/o_50/v1434488266/icons_1.png" /></li>
  <li><img src="http://res.cloudinary.com/daqsrembo/image/upload/c_scale,w_40/o_50/v1434488266/icons_2.png" /></li>
  <li><img src="http://res.cloudinary.com/daqsrembo/image/upload/c_scale,w_30/o_50/v1434488266/icons_3.png" /></li>
  <li><img src="http://res.cloudinary.com/daqsrembo/image/upload/c_scale,w_20/o_50/v1434488266/icons_4.png" /></li>
  <li><img src="http://res.cloudinary.com/daqsrembo/image/upload/c_scale,w_40/o_50/v1434488266/icons_5.png" /></li>
  <li><img src="http://res.cloudinary.com/daqsrembo/image/upload/c_scale,w_30/o_50/v1434488266/icons_6.png" /></li>
  <li><img src="http://res.cloudinary.com/daqsrembo/image/upload/c_scale,w_20/o_50/v1434488266/icons_7.png" /></li>
  <li><img src="http://res.cloudinary.com/daqsrembo/image/upload/c_scale,w_40/o_50/v1434488266/icons_8.png" /></li>
  <li><img src="http://res.cloudinary.com/daqsrembo/image/upload/c_scale,w_45/o_50/v1434488266/icons_9.png" /></li>
  <li><img src="http://res.cloudinary.com/daqsrembo/image/upload/c_scale,w_35/o_50/v1434488266/icons_10.png" /></li>
  <li><img src="http://res.cloudinary.com/daqsrembo/image/upload/c_scale,w_25/o_50/v1434488266/icons_11.png" /></li>
</ul>
</div>
<script>
  $("#login-button").click(function(event){
  	$('form').fadeOut(350);
  	$('.wrapper').addClass('form-success');
  });
</script>
