<button class="close">&times;</button>
<form>
  <input type="text" name="handle" placeholder="Add A Handle">
  <input type="text" name="body" placeholder="What's on your mind?">
  <!-- <textarea name="body" rows="4" placeholder="What's on your mind?"></textarea> -->
  <button class="save_yeehaw">Send</button>
</form>
