<!-- <button class="close">&times;</button> -->
<form>
  <input type="text" name="body" placeholder="What's on your mind?">
  <span class="glyphicon glyphicon-resize-full"></span>
  <input class="hide" type="text" name="handle" placeholder="Add A Handle">
  <button class="save_yeehaw">Send</button>
</form>
