<form>
  <input type="text" name="handle" placeholder="Add A Handle">
  <textarea name="body" rows="4" placeholder="What's on your mind?"></textarea>
  <button class="save_yeehaw">Send</button>
</form>
