<div class="bar">
  <ul class="nav nav-pills nav-justified">
    <li class="active">
      <a><%= url === '/api/replies' ? 'My Replies' : 'My Yeehaws' %></a>
    </li>
  </ul>
</div>

<ul class="posts">
</ul>
