<div class="m-content">
  <div class="yeehaw row">

  <div class="col-xs-10">
  <span class="handle"><%= post.get("handle") %></span>
  <p><%= post.escape("body") %></p>
  </div>

  <div class="votes col-xs-2">
    <% if (post.escape("up_voted") === "true") { %>
      <div class="upvoted glyphicon glyphicon-chevron-up"></div>
    <% } else { %>
      <div class="upvote glyphicon glyphicon-chevron-up"></div>
    <% } %>

    <span class="votecount"><%= post.escape("vote_count") %></span>

    <% if (post.escape("up_voted") === "false") { %>
      <div class="downvoted glyphicon glyphicon-chevron-down"></div>
    <% } else { %>
      <div class="downvote glyphicon glyphicon-chevron-down"></div>
    <% } %>
  </div>

  <div class="timestamp back col-xs-12" title="Back">
    <span class="glyphicon glyphicon-time"></span>
    <%= post.get("time_ago") %> ago
    <% if (post.get("author_id") === CURRENT_USER_ID) { %>
      <button class="del" title="Close">&times;</button>
    <% } %>
  </div>

  </div>
  <div class="post-replies"></div>
</div>
