<blockquote>
  <header><strong><%= post.escape("handle") %></strong></header>
  <p><%= post.escape("body") %></a></p>
  <footer><%= post.get("created_at") %></footer>
</blockquote>

<div class="replies-new"></div>
<div class="replies-div"></div>
