<h1>Edit Post</h1>
<form action="<%= post_url(@post) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">

  <label>Handle (optional)
    <input type="text" name="post[handle]" value="<%= @post.handle %>">
  </label>

  <label>Body
    <input type="text" name="post[body]" value="<%= @post.body %>">
  </label>

  <input type="submit" value="Update Post">
</form>
