<div class="create_group_div">
  <h3 class="create_group">create a group</h3>

  <label for="group_name">Location</label>
  <input type="text" name="group[title]" id="group_name" value="<%= group.escape('title') %>">

  <button>create group</button>
</div>
