<% if (group.get("member?")) { %>
  <div class="bar">
    <ul class="nav nav-pills nav-justified">
      <li></li>
      <li <% if (group.get('id') === 1) { %> class="active" <% }; %> >
        <a href="#/">Nearby</a>
      </li>
      <% if (group.get('herd_id')) { %>
        <li <% if (group.get('id') !== 1) { %> class="active" <% }; %> >
          <a href="#/groups/<%= group.get('herd_id') %>">My Herd</a>
        </li>
      <% } else { %>
        <li>
          <a href="#/groups/">Add Herd</a>
        </li>
      <% }; %>
      <li></li>
    </ul>

  </div>
  <button role="button" class="btn-compose btn btn-info">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
<% }; %>

<ul class="posts">
</ul>
