<div class="bar">
  <ul class="nav nav-pills nav-justified">
    <li></li>
    <% if (group.get('herd_id') && group.get("member?")) { %>
      <% if (group.get('id') === 1) { %>
        <li class="active"><a>Nearby</a></li>
        <li><a href="#/groups/<%= group.get('herd_id') %>">My Herd</a></li>
      <% } else if (group.get('id') !== 1) { %>
        <li><a href="#/">Nearby</a></li>
        <li class="active"><a>My Herd</a></li>
      <% }; %>
    <% } else { %>
      <li class="active">
        <a><%= group.get("title") %></a>
      </li>
    <% }; %>
    <li></li>
  </ul>
</div>
<% if (group.get("member?")) { %>
  <button role="button" class="btn-compose btn btn-info">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
<% }; %>

<ul class="posts">
</ul>
