// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bar li a {
  background-color: $color-3;
  color: $color-1;
  opacity: .6;

  :link,
  :visited,
  :focus {
    color: inherit;
    cursor: auto;
    text-decoration: inherit;
  }
}

.bar {
  padding-bottom: 1%;
  padding-top: 2%;
}

.bar,
.posts {
  font-size: 18px;
  margin-left: 20%;
  padding-right: 20%;

  li a:hover {
    background-color: $color-3;
    text-shadow: 0 1px 0px $color-2;
  }

  li.active a,
  li.active a:hover {
    opacity: 1;
    background-color: $color-3;
    text-shadow: 0 0px 0px $color-3;
  }
}

.glyphicon-chevron-up,
.glyphicon-chevron-down,
.glyphicon-check,
.glyphicon-unchecked {
  cursor: pointer;
}

.list-group {
  margin: auto;
  text-align: center;
  width: 250px;
}

@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {
  .bar,
  .posts {
    margin-left: 3%;
    padding-right: 1%;
  }
}
