// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  height: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  text-align: center;
  top: 50%;
  // transform: translateY(26%);
  vertical-align: middle;
}

.m-content {
  background-color: #fff;
  border-radius: 3px;
  font-size: 18px;
  height: auto;
  left: 50%;
  max-height: 80%;
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  top: 50%;
  -moz-transform: rotate(-50%, -50%);
  -ms-transform: rotate(-50%, -50%);
  -o-transform: rotate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: 101;
}

.m-backdrop {
  background-color: rgba(170, 169, 176, .5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 68;
}

.glyphicon-pencil,
.yeehaw-meta:hover {
  cursor: pointer;
}

.yeehaw {
  background: #fff;
  min-height: 150px;
  padding: 20px;
  position: relative;
}

.handle {
  color: $color-3;
}

p {
  color: $color-1;
}

.votes {
  height: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  text-align: center;
  top: 50%;
  // transform: translateY(26%);
  vertical-align: middle;
}

.upvote {
  background-repeat: no-repeat;
  color: $color-5;
  cursor: pointer;
  height: 14px;
  width: 15px;
}

.upvoted {
  background-repeat: no-repeat;
  color: $color-2;
  cursor: pointer;
  height: 14px;
  width: 15px;
}

.votecount {
  color: $color-4;
  display: block;
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.downvote {
  background-repeat: no-repeat;
  color: $color-5;
  cursor: pointer;
  height: 14px;
  width: 15px;
}

.downvoted {
  background-repeat: no-repeat;
  color: $color-2;
  cursor: pointer;
  height: 14px;
  width: 15px;
}

.timestamp {
  border: solid #e1e1e1;
  border-width: 0 0 1px;
  bottom: 0;
  clear: both;
  color: $color-3;
  font-size: 16px;
  max-width: 98%;
  padding: 5px;
  position: absolute;
  right: 1%;
  width: 100%;
}
