// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-default {
  background-color: $color-3;
  border-color: $color-2;

  span.glyphicon {
    padding: 0 5px;
  }

  .navbar-brand {
    color: #fff;

    &:hover,
    &:focus {
      color: $color-1; }}

  .navbar-text {
    color: #fff; }

  .navbar-nav {
    > li {
      > a {
        color: #fff;

        &:hover,
        &:focus {
          color: $color-1; }}}

    > .active {
      > a,
      > a:hover,
      > a:focus {
        background-color: $color-2;
        color: $color-1; }}

    > .open {
      > a,
      > a:hover,
      > a:focus {
        background-color: $color-2;
        color: $color-1; }}}

  .navbar-toggle {
    border-color: $color-2;

    &:hover,
    &:focus {
      background-color: $color-2; }

    .icon-bar {
      background-color: #fff; }}

  .navbar-collapse,
  .navbar-form {
    border-color: #fff;}

  .navbar-link {
    color: #fff;

    &:hover {
      color: $color-1; }}}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: #fff;

      &:hover,
      &:focus {
        color: $color-1; }}

    > .active {
      > a,
      > a:hover,
      > a:focus, {
        background-color: $color-2;
        color: $color-1; }}}
}
