<form>
  <textarea class="new_reply" name="body" rows"5" cols="40">new reply</textarea>
</form>
<br>
<button class="save_reply">save</button>

<div class="preview">
</div>

<div class="panestack-title"></div>


<div class="post_replies"></div>
