<li style="list-style:none">

  <div class="reply-body"><%= reply.escape("body")%></div>
  <div class="infoline">by <a href=""><%= reply.get("author_id") %></a>
    about <%= reply.get("time_ago")%> ago</div>
    <% if (reply.escape('author_id') === 1) { %>
      <div class="destroy-reply">delete</div>
    <% }; %>
  <br>

</li>
