<li style="list-style:none">

  <div class="reply-body"><%= reply.get('author_id') %><%= reply.escape('body')%></div>
  <div class="infoline">
    <span class="glyphicon glyphicon-time"></span><%= reply.get('time_ago')%> ago</div>
      <button class="del">&times;</button>
    <% if (reply.escape('author_id') === 1) { %>
    <% }; %>
  <br>

</li>
